<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
    <ul>
        <li><a href="/home">Neo</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/howto">How To</a></li>
        <li style="float:right"><a class="active" href="/signup">Register</a></li>
        <li style="float:right"><a class="active" href="/signin">Log In</a></li>
    </ul>
</head>
<body>
<h3>Register for Neo!</h3>

<form action="/signup" method="post">
    {% csrf_token %}
    <label for="">Username</label>
    <input type="text" id="username" name="username" placeholder="Create a username" required>
    <br>

    <label for="">First name</label>
    <input type="text" id="fname" name="fname" placeholder="Enter your first name" required>
    <br>

    <label for="">Last Name</label>
    <input type="text" id="lname" name="lname" placeholder="Enter your last name" required>
    <br>

    <label for="">Email Address</label>
    <input type="email" id="email" name="email" placeholder="Enter your email address" required>
    <br>

    <label for="">Password</label>
    <input type="password" id="pass1" name="pass1" placeholder="Create password" required>
    <br>

    <label for="">Confirm Password</label>
    <input type="password" id="pass2" name="pass2" placeholder="Re-enter password" required>
    <br>
    <br>

    <button type="submit">Sign Up!</button>

</form>
</body>
</html>