<!DOCTYPE html>
{% load static %}
<html lang="en">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <title>About</title>

</head>
<nav>
    {% include 'navbar/navbar.html' %}
</nav>
<body>
<h1>Why Does Neo Exist?</h1>
<p>There are many drivers behind what created Neo. The initial idea for Neo was born from a combination of forgetful
    trading and lack of time. Most people don't have
    the time to become day traders or spend hours reading and combing over the news before markets open. Neo
    attempts to help solve these issues in several unique ways.
    <br><br>
    Neo allows you to manage multiple brokerage or exchange accounts in one place. This helps to prevent you
    from forgetting about this or that stock in this or that account.
    <br><br>
    Neo allows you to trade algorithmically. You can choose from several pre-made trading strategies or
    create and back test your own.
    <br><br>
    Neo brings you the news. In the Newsfeed Neo shows top stories that are directly related to the assets you hold or
    are
    watching. This allows you to get the news you need when you want it.
    <br><br>
    Neo can help save you money on trading fees! Depending on the exchange(s) you use and how you use them you
    might be paying more in trading fees than you need. Neo will give you access to the advanced trading capabilities of
    your exchange(s) while maintaining simplicity.
</p>
Register now!
</body>
</html>