<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <title>FAQ</title>

</head>
<nav>
    {% include 'navbar/navbar.html' %}
</nav>
<body>
<h1>Frequently Asked Questions</h1>
<h3>How does Neo work?</h3>
<p>Neo works by taking account you already own and allowing you to interact with them in one location.</p>
<h3>Why would I want to use Neo?</h3>
<p>Neo is much more than just one location for your trading-financials. Neo can place trades, help you trade and even
    trade for you.</p>
</body>
</html>