<!DOCTYPE html>
<!--{% load static %}-->
<html lang="en">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <title>Neo Trading</title>

</head>
<nav>
    {% include 'navbar/navbar.html' %}
</nav>
<body>
<h1>Welcome to Neo Trading</h1>
<br>
<div class="box" style="box-shadow: 10px 10px 5px">
    <h3>⚫<br><br> In a world where our lives seem to be increasingly demanding more and more of ourselves --
        Neo knows that not everyone has the time to become professional-level investors.</h3>
</div>
<div class="box" style="box-shadow: 10px 10px 5px">
    <h3>⚫⚫<br><br>Using a combination of automation and Machine Learning, Neo attempts to leverage the
        technologies of today to make your future of tomorrow.</h3>
</div>
<div class="box" style="box-shadow: 10px 10px 5px">
    <h3>⚫⚫⚫<br><br>"If you don’t find a way to make money while you sleep, you will work until you die."
        <br><br>--Warren Buffet</h3>
</div>

</body>
</html>