<!DOCTYPE html>
<!--{% load static %}-->
<html lang="en">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">


<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <title>My Account</title>

</head>
<nav>
    {% include 'navbar/navbar.html' %}
</nav>
<body>
<h2>{{user.first_name}}'s Account</h2>
<div class="box">
    <h2>Market Info Quick View</h2>
</div>
<div class="box">
    <h2>Total Value: ${{my_account.portfolio_cash}}</h2>
</div>
</div>
<div class="box"><h2>Current Profit / Loss</h2>
</div>
</div>
<div class="box"><h2>Currently Held Assets</h2>
</div>
<div class="box">
    <h2>Newsfeed</h2>
</div>

<div class="box">
    <h2>Open Trades</h2>
</div>

</div>
<div class="box"><h2>Trade History</h2>
</div>


</body>
</html>