<!DOCTYPE html>
{% load static %}
<html lang="en">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <title>External Account Management</title>

</head>
<nav>
    {% include 'navbar/navbar.html' %}
</nav>
<body>


<h1 style="text-align: center">External Account Management</h1>
<div class="box"><h2>List of connected accounts</h2>
</div>

<div class="box"><h2>Connect a new account</h2>
    <form action="/add_api" method="post">
        {% csrf_token %}
        <label for="">Select Exchange</label>
        <select name="exchange" id="exchange">
            <!--            <option value="binanceus">BinanceUS</option>-->
            <!--            <option value="coinbase">Coinbase</option>-->
            <!--            <option value="kraken">Kraken</option>-->
            <option value="robinhood">Robinhood</option>
        </select>
        <br>

        <label for="">Robinhood Email </label>
        <input type="text" id="email" name="email" placeholder="Enter your Robinhood email" size="40">
        <br>
        <label for="">Robinhood Password</label>
        <input type="password" id="password" name="password" placeholder="Enter your Robinhood password" size="40">
        <button type="submit">Connect Account</button>
    </form>

</div>

<div class="box">

    <h2>External funding deposit/withdrawal</h2>
</div>


</body>
</html>