<!DOCTYPE html>
{% load static %}
<html lang="en">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <title>External Account Management</title>

</head>
<nav>
    {% include 'navbar/navbar.html' %}
</nav>
<body>


<h1 style="text-align: center">External Account Management</h1>
<div class="box"><h2>List of connected accounts</h2>
</div>

<div class="box"><h2>Connect a new account</h2>
    <button>Select Exchange</button>
    <br>
    <p>Api Secret</p>
    <input type="text" placeholder="Enter your Api Secret" size="40">

    <p>Api Key</p>
    <input type="text" placeholder="Enter your Api Key" size="40">
    <button>Connect your account!</button>


</div>

<div class="box">

    <h2>External funding deposit/withdrawal</h2>
</div>


</body>
</html>