<!DOCTYPE html>
{% load static %}
<html lang="en">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <title>News</title>

</head>
<nav>
    {% include 'navbar/navbar.html' %}
</nav>

<body>
<div>
    <h1 style="text-align: center">Newsfeed</h1>
    <div class="center  ">
        <ul>
            {% for article in news_articles %}
            {% for v in article %}
            <li><a href="{{ v.url }}">{{ v.title }}</a></li>
            {% endfor %}
            {% endfor %}
        </ul>
    </div>
</div>
</div>


</body>
</html>