<!DOCTYPE html>
{% load static %}
<html lang="en">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <title>{{ ticker }}</title>

</head>
<nav>
    {% include 'navbar/navbar.html' %}
</nav>
<body>

<div style="text-align: center">
    <h1>{{ ticker }} -- {{ stocks.name }} <br> ${{ price.0 }}</h1>

    <form action="/place_trade" method="post">
        {% csrf_token %}
        {{ order_form }}
<!--        <input type="text" id="ticker" placeholder="{{ticker}}" value="{{ticker}}">-->
        <input type="submit" value="Place Trade">
    </form>


    {% autoescape off %}
    {{ plot_div }}
    {% endautoescape %}


</div>


</body>
</html>