<!DOCTYPE html>
{% load static %}
<html lang="en">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <title>{{ ticker }}</title>

</head>
<nav>
    {% include 'navbar/navbar.html' %}
</nav>
<body>

<div style="text-align: center">
    <h1>{{ ticker }} -- {{ stocks.name }} <br> ${{ stock.price }}</h1>

    <h3>Quantity Owned: {{stock.quantity}} shares | Market value: ${{ stock.equity }}</h3>

    <form action="/buy" method="post">
        {% csrf_token %}
        <input type="hidden" id="buy_ticker" name=buy_ticker value={{ticker}}>
        <input type="text" id="buy_amount" name="buy_amount" placeholder="Amount to BUY" size="25" required> in
        <select name="buy_fractional_by" id="buy_fractional_by">
            <option value="by_price">Dollars</option>
            <option value="by_quantity">Shares</option>
        </select>
        <button type="submit">Place BUY Order</button>
    </form>


    <form action="/sell" method="post">
        {% csrf_token %}
        <input type="hidden" id="sell_ticker" name=ticker value={{ticker}}>
        <input type="text" id="sell_amount" name="sell_amount" placeholder="Amount to SELL" size="25" required> in
        <select name="sell_fractional_by" id="sell_fractional_by">
            <option value="by_price">Dollars</option>
            <option value="by_quantity">Shares</option>
        </select>
        <button type="submit">Place SELL Order</button>
    </form>


    <button>Add to Watchlist</button>

    {% autoescape off %}
    {{ plot_div }}
    {% endautoescape %}


</div>


</body>
</html>