<!DOCTYPE html>
{% load static %}
<html lang="en">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">


<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <title>Trading</title>

</head>
<nav>
    {% include 'navbar/navbar.html' %}
</nav>

<body>
<h1>Trading Center</h1>
<div class="box">
    <h3>Search for an asset</h3>
    <!--    <br>-->
    <input type="text" placeholder="Search by ticker or name">
    <button>Search</button>
</div>
<div class="box">
    <h3>Watch List</h3>
    <br>
</div>
<div class="box">
    <h3>Bigest Movers</h3>
    <br>
</div>
<div class="box">
    <h3>Place a Trade</h3>
</div>
<div class="box">
    <h3>Trading Strategies</h3>
</div>
<div class="box">
    <h3>Active Strategies</h3>
</div>

<div class="box">
    <h3>Backtesting Strategies</h3>
</div>

<div class="box">
    <h3>Deeper Market Info</h3>
</div>


</body>
</html>